# Unreal generated folders
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# Visual Studio / Rider
.vs/
.vscode/
.idea/
*.VC.db
*.VC.opendb
*.sln
*.suo
*.opensdf
*.sdf
*.user
*.userprefs

# Build artifacts
Build/*

# Logs
*.log
